#banner
  .row
    .large-12.columns
      #container
        .large-8.columns
          %h1=t('tagline')
      .row
        .large-10.columns
          %p.lead.marketing.text-right
            = t('marketing_text')


#container
  .row
    .large-12.columns
      .text-center
        %h3=t('categories')
        %br
  .row.large-up-6.medium-up-3.small-up-2
    .column
      =image_tag "home_and_living.jpeg"
      %p=t('home_and_living')
    .column
      =image_tag "clothing_and_acc.jpeg"
      %p=t('clothing_and_accessories')
    .column
      =image_tag "entertain"
      %p=t('entertainment')
    .column
      =image_tag "vintage"
      %p=t('vintage')
    .column
      =image_tag "handmade"
      %p=t('handmade')
    .column
      = image_tag "used"
      %p=t('used')
  %br
  - if @latest_items.any?
    .row
      .large-12.columns
        .text-center
          %h3=t('latest_listings')
          %br
    .row.large-up-5.medium-up-3.small-up-2{ "data-equalizer" => "true", "data-equalize-by-row" => "true" }
      - @latest_items.each do |item|
        .column
          = render partial: 'items/show', locals: { item: item }
  %br
  -if current_user
    .row
      .large-12.columns
        .text-center
          %h3=t('your_favourites')
          %br
        - if current_user.favourite_items.any?
          .row.large-up-5.medium-up-3.small-up-2{ "data-equalizer" => "true", "data-equalize-by-row" => "true" }
            - current_user.favourite_items.each do |item|
              .column
                = render partial: 'items/show', locals: { item: item }
