#banner
  .row
    .large-12.columns
      #container
        .large-8.columns
          %h1=t('tagline')
      .row
        .large-10.columns
          %p.lead.marketing.text-right
            = t('marketing_text')


#container
  - if @latest_products.any?
    .row
      .large-12.columns
        .text-center
          %h3=t('latest_listings')
          %br
    .row.large-up-5.medium-up-3.small-up-2{ "data-equalizer" => "true", "data-equalize-by-row" => "true" }
      - @latest_products.each do |product|
        .column
          = render partial: 'products/show', locals: { product: product }
  %br
  -if current_user
    .row
      .large-12.columns
        .text-center
          %h3=t('your_favourites')
          %br
        - if current_user.favourite_products.any?
          .row.large-up-5.medium-up-3.small-up-2{ "data-equalizer" => "true", "data-equalize-by-row" => "true" }
            - current_user.favourite_products.each do |product|
              .column
                = render partial: 'products/show', locals: { product: product }
