#banner
  .row
    .large-12.columns
      #container
        .large-8.columns
          %h1=t('tagline')
      .row
        .large-10.columns
          %p.lead.marketing.text-right
            = t('marketing_text')


#container
  - if @latest_products.any?
    .row
      .large-12.columns
        .text-center
          %h3=t('latest_listings')
          %br
    .row
      - @latest_products.each do |product|
        .large-3.columns
          = render partial: 'products/show', locals: { product: product }
  %br
  -if current_user
    .row
      .large-12.columns
        .text-center
          %h3=t('your_favourites')
          %br
      - if current_user.favourite_products.any?
        - current_user.favourite_products.each do |product|
          .large-3.columns
            = render partial: 'products/show', locals: { product: product }
