.row
  .large-offset-4.large-4
    Enter the code you have received
    = simple_form_for(VerificationMethod.new, url: :verify_token, method: :post) do |f|
      = f.input :token
      = f.submit t("verify_mobile"), class: "button"
