.row
  .large-offset-4.large-4
    =t("enter_verification_code")
    = simple_form_for(VerificationMethod.new, url: :verify_token, method: :post) do |f|
      = f.input :token, label: false
      = f.submit t("verify"), class: "button"
