.text-field
  = form.input :full_name, as: :text

.text-field
  = form.input :username, as: :text

.text-field
  = form.input :email, as: :email

.password-field
  = form.input :password, as: :password
