%h1 Basket

- if @cart.empty?
  %p There are no items in your shopping basket
- elsif @cart.items.size == 1
  %p There is one item in your shopping basket

- @cart.items.each do |item|
  .row
    .large-1.columns
      - if item.images.any?
        =image_tag item.images.first.thumb, class: "thumbnail"
      - else
        =image_tag "http://dummyimage.com/50x40&text=No image", class: "thumbnail"
    .large-5.columns
      =item.title
    .large-offset-4.large-1.columns
      1
    .large-1.columns
      =item.price
