#items
  %h2 Items
  .row.large-up-5.medium-up-3.small-up-2{ "data-equalizer" => "true", "data-equalize-by-row" => "true" }
    - @items.each do |item|
      .column
        = render partial: 'items/show', locals: { item: item }
