.text-center
  =link_to product do
    - if product.images.any?
      = image_tag product.images.first.small.url, class: "thumbnail"
    - else
      =image_tag "http://dummyimage.com/300x200&text=No image", class: "thumbnail center"
&euro;#{product.price}
=link_to product.shortened_title, product
