.product{ "data-equalizer-watch" => "" }
  =link_to product do
    - if product.images.any?
      = image_tag product.images.first.small.url
    - else
      =image_tag "http://dummyimage.com/340x270&text=No image"
  .info
    =link_to product.shortened_title, product
    .text-right
      &euro;#{product.price}
