#products
  %h2 Products
  - @products.each do |product|
    .row.product
      .large-1.columns
        %img.thumbnail{ src: "http://placekitten.com/g/75/75"}
      .large-9.columns
        =link_to product.title, product
      .large-2.columns
        &euro; #{product.price}
