#products
  %h2 Products
  - @products.each do |product|
    .product
      %h3
        =link_to product.title, product
      %p= product.description
      %p= product.price
      %span= product.created_at
