%h5
  =link_to "Products", products_path
%h4
  =@product.title

.row
  .large-3.columns
    %img.thumbnail{ src: "http://placekitten.com/g/250/200"}
  .large-6.columns
    %p= @product.description

  .large-3.columns
    .callout
      %p.text-center.stat
        &euro;#{@product.price}
      =link_to "Add to cart", "#", class: "button expanded"
    .callout
      %h5 Seller information
      = @product.user.username
      %br
      %br
      %b Verified information
      %ul.no-bullet
        %li Email address
        %li Phone number

    %em added at #{l(@product.created_at)}
